@model IEnumerable<WebflixApplication.Models.FILM>
@{
ViewBag.Title = "Home Page";
}

<div id="main-container" class="bg-dark">
	<div class="padding-sm">
		<nav class="navbar navbar-inverse">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#galleryNavigation">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Gallery</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="galleryNavigation">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Movie Trailer</a></li>
					<li><a href="#">Animation</a></li>
					<li><a href="#">New Movies</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">More Categories <b class="caret"></b></a>
						<ul class="dropdown-menu flipInV" role="menu">
							<li role="presentation" class="dropdown-header">Movie Categories</li>
							<li><a href="#">Action</a></li>
							<li><a href="#">Comedies</a></li>
							<li><a href="#">Horror</a></li>
							<li role="presentation" class="dropdown-header">Game Categories</li>
							<li><a href="#">Role-playing game</a></li>
							<li><a href="#">Card game</a></li>
							<li><a href="#">Mobile game</a></li>
						</ul>
					</li>
				</ul>
                <div>
                    <form class="pull-right form-inline" action="film/SearchMovie">
                      <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="ex: Titanic">
                      </div>
                      <button type="submit" class="btn btn-default">Rechercher</button>
                    </form>
                </div>
			</div><!-- /.navbar-collapse -->
		</nav>
		<div class="row">
			<div class="col-md-12">
				<h2 class="headline dark text-white">
					Latest Movies
					<span class="line"></span>
				</h2>
				<div class="jcarousel-wrapper">
					<div class="movie-jcarousel row" id="popularMovie">
						<ul>
                            @foreach(var film in Model){
							    <li class="col-sm-3">
								    <a href="/film/showfilm/@film.IDFILM">
                                        <h2 class="film_title">@film.TITRE</h2>
									    <img class="posters" src="@film.POSTER" alt="Image 1">
									    <div class="quick-detail text-white">
										    <p>@film.SCENARIO</p>
									    </div>
								    </a>
							    </li>
                            }
						</ul>
					</div>
				</div><!-- /jcarousel-wrapper -->
						
				<div class="padding-sm text-right">
					<a href="#" class="primary-font">See All</a>
				</div>
			</div><!-- /.col -->
		</div><!-- ./row -->
	</div><!-- /.padding-sm -->
</div><!-- /main-container -->
<footer class="dark">
	<div class="row">
		<div class="col-sm-3">
			<p class="block">About Our Company</p>
			<p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor suscipit lobortis.</small></p>
		</div><!-- /.col -->
		<div class="col-sm-3">
			<p class="block">Useful Links</p>
			<ul class="list-unstyled useful-link">
				<li>
					<a href="#">
						<small><i class="fa fa-chevron-right"></i> Our Profile</small>
					</a>
				</li>
				<li>
					<a href="#">
						<small><i class="fa fa-chevron-right"></i> New Products</small>
					</a>
				</li>
				<li>
					<a href="#">
						<small><i class="fa fa-chevron-right"></i> Support Portal</small>
					</a>
				</li>
			</ul>
		</div><!-- /.col -->
		<div class="col-sm-3">
			<p class="block">Stay Connect</p>
			<a href="#" class="social-connect tooltip-test facebook-hover" data-toggle="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
			<a href="#" class="social-connect tooltip-test twitter-hover" data-toggle="tooltip" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
			<a href="#" class="social-connect tooltip-test google-plus-hover" data-toggle="tooltip" data-original-title="Google Plus"><i class="fa fa-google-plus"></i></a>
			<a href="#" class="social-connect tooltip-test rss-hover" data-toggle="tooltip" data-original-title="Rss feed"><i class="fa fa-rss"></i></a>
			<a href="#" class="social-connect tooltip-test tumblr-hover" data-toggle="tooltip" data-original-title="Tumblr"><i class="fa fa-tumblr"></i></a>
			<a href="#" class="social-connect tooltip-test dribbble-hover" data-toggle="tooltip" data-original-title="Dribbble"><i class="fa fa-dribbble"></i></a>
			<a href="#" class="social-connect tooltip-test linkedin-hover" data-toggle="tooltip" data-original-title="Linkedin"><i class="fa fa-linkedin"></i></a>
			<a href="#" class="social-connect tooltip-test pinterest-hover" data-toggle="tooltip" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a>
		</div><!-- /.col -->
		<div class="col-sm-3">
			<p class="block">Contact Us</p>
			Email : endless.themes@gmail.com
			<div class="seperator"></div>
			<a class="btn btn-sm btn-info"><i class="fa fa-envelope"></i> Contact support</a>
		</div><!-- /.col -->
	</div><!-- /.row -->
</footer>